@charset 'utf-8' ;

html{
    background: hsla(312, 77%, 86%, 1);

    background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

    background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

    background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1 );

    

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    text-align: center;
}


.div{
    background-color: aliceblue;
    border-radius: 50px;
    width: 38em;
    height: 7em;
    margin-left: 30%;
    box-shadow: 0px 4px 23px;

    & h1{
        color:  rgba(0, 0, 0, 0.267);
        padding-top: 10px;
        font-size: 80px;
        
    }
}

.listado {
    margin-left: 30%;
    width: 35em;
    background-color: white;
    border-radius: 53px;
    margin-top: 62px;
    padding: 20px;
    box-shadow: 0px 4px 23px;

    & h2 {
       color:  rgba(0, 0, 0, 0.267);
       font-size: 30px; 
    }

    & dd{
        font-family:monospace ;
        font-size: 18px;

        margin: 0;
        background: hsla(312, 77%, 86%, 1);

        background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

        background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

        background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1 );

        width: 188px;
        height: 27px;
        border-radius: 20px;
        margin-left: 34%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & dt {
        font-size: 26px;
    }
}